<h2> Login page </h2>

<!-- method POST because  -->
<form method="POST" action="/auth/login">
    <label>
        Username:
        <input type="text" name="username"/>
      </label>
      <label>
        Password:
        <input type="password" name="password" />
      </label>
      <button type="submit"> Log-in </button>
</form>